
.main{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color:rgb(235, 234, 245)
}

.main .product-section{
    width: 95%;
    display: flex;
    flex-direction: column;
    padding: 2rem .5rem;
}
.main .product-section .search-result{
            height: 40px;
            padding: 1rem 0 1rem 2rem;
            display: flex;
            align-items: center;
            font-family: Roboto;
            letter-spacing: 1px;

}
.main .product-section .product-container{
    width: 100%;
    height:auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
}
