

.Container{
    width: 100%;
    height: 100vh;
    background-color:#000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    >.login-img{
        background-image: url("https://i.ibb.co/66sW7Gk/Neth-Book-Point-com-1.png") ;
        background-repeat: no-repeat;
        height:100%;
        width:40%;
        // aspect-ratio: 1;
        object-fit:contain;
        // justify-self: center;
    }


    >.login-section{
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        height: 100%;
        background-color: #000000;



        >.login-section-form{
        width: 400px;
        height: 400px;
        // margin-top: -6rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        background-color: #76a2af;
        border-radius: 10px;
        flex-grow: .3;

        >h1{
            color: #8d549b;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 20px;
            letter-spacing: 2px;
            padding: 0.5rem 0px;
        }
        >form{
            display: flex;
            flex-direction: column;
            width: 80%;

            
            >input{
                padding: 1rem ;
                margin: 1rem ;
                outline: none;
                border-radius: 10px;
                border: 2px solid lightgray;
                    background-color: #D6CE80;

                
                &:hover{
                    border: 2px solid rgb(41, 92, 137);
                }
            }
            >.password-section{
                
                display: flex;
                position: relative;
                align-items: center;
                justify-content: center;
                >input{
                    width: 100%;
                    background-color: #D6CE80;
                }
                >.show-password{
                    position: absolute;
                    right: 30px;   
                    top: 36%;
                    cursor: pointer;

                }
            }
            
            >.btns{
                margin:1rem;
                // display: flex;
                // justify-content: space-between;

                >.btn{
                    color: #fff;
                    background-color: #CC9600;
                    border-radius: 5px;
                    font-size: 14px;
                    letter-spacing: 2px;
                    border: none;

                    &:hover{
                        background-color: rgb(22, 22, 93);
                    }
                }

                >.btn1{
                    padding: 1rem;
                }

                >.btn2{
                    padding: 1rem;
                }
            }
        }

        >button{
             color: #fff;
             padding: 1rem;
                    background-color: #CC9600;
                    border-radius: 5px;
                    font-size: 14px;
                    letter-spacing: 2px;
                    border: none;

                    &:hover{
                        background-color: rgb(22, 22, 93);
                    }

            

        }
    }
    }
}

// @media screen and (max-width:){
    
// }