
*{
    box-sizing: border-box;
}
.card{
    height: 28rem; 
    width: 250px; 
    display: flex;
    flex-direction: column;
    justify-content: center;    
    margin: 1rem;
    align-items: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    transition: all 0.3s;
    background-color: #fff;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
     background-color: var(--bg-color-yellow);

}
.card:hover{
    transform: scale(1.02);
}

.content{
    width:250px;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 2rem;
    padding-right: 1rem;
       background-color: var(--bg-color-yellow);

}
.img{
    width: 180px;
    height: 225px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img img{
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.927);
    }

img{
    width: 100%;
    height: 100%;
}
.review-container{
    display: flex;
    align-self: self-end;
    margin-bottom: .6rem;
}


.stars .ft-star{
    color: rgb(255,238,0);
    font-size: .8em;

}
.description{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.stars span,.description p{
    font-size: .85em;
    color: rgb(36,36,36);
}
.price{
    font-size:1.3em;
    color:black;
    padding-bottom: .3rem;
}
.actual-price{
    text-decoration: line-through;
    color: var(--primary-red);
    font-size: 0.7em;
}
.name{
    text-shadow: 1px 1px 3px var(--primary-yellow);
    width:100%;
    font-size:1.3em;
    display: flex;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color:black;
    padding-bottom: .3rem;
}
.description p{

    margin: .1em 0;
}
.button-container{    
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    margin: .7rem 0 ;
    justify-content: center;
}
.button-container .cart-button{  
    width:80% ; 
    height:2.5rem;
}
.cart-button .btn{
    width: 100%;
    height:100%;
    background-color: var(--primary-yellow);
    color: black;
    font-size: 1rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 2px white;
    border: dashed 0.1rem #cc9600;
    
}
.cart-button :hover{
    cursor: pointer;
}
.wishlist-button{
    height: 2rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: var(--primary-red);
    color: #fff;
    cursor: pointer;
}
.add-heart:hover,.remove-heart:hover{
    cursor: pointer;
}
.wishlist-button .add-heart{
            width: 100%;
            height: 100%;
            padding-top: 3px;
            border: 2px solid rgb(142, 147, 153);
            background-color: #fff;
            border-radius: 50%;
            color: var(--primary-red);
                

}

.wishlist-button .remove-heart{
    width: 100%;
    height: 100%;
    padding-top: 3px;
    color: #fff;
    background-color: var(--primary-red);
    border: none;
    border-radius: 50%;
}
.btn.btn-secondary{
    background-color: var(--btn-green);
    color: #fff;
    border: solid 2px white;
}

/* 
@media screen and (min-width:500px){
    .card{
        width:350px;
        margin:0 auto;
    }
} */
 
@media screen and (max-width: 600px) {
    .main{
        /* width: 100%; */
    }

    .card{
       width: 100vw;

    }
    .content{
        width: 100%;
        padding-left: 2rem;
        padding-right: 1rem;

    }
    .name{
        font-size:1.5em;
        text-decoration: underline;
    }
    .cart-button .btn{
        font-size: 1rem;
        width: fit-content;
        display: flex;
        justify-self: center;
        padding: 1rem;
        border: solid 2px white;
    }
    .img img{
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.927);
    }
    
}