.filter-container{
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px;
    display: flex;
    flex-direction: column;
    padding: 3rem 1rem 0px 2rem;
    
}
.filter{
        box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px;
        display: flex;
        flex-direction: column;
        padding: 0;
    }
.filter .price-range{
        display: flex;
        flex-direction: column;
        padding: 0.5rem 0;
}
.filter .price-range label{
        padding: 0.5rem 0;
}


.filter-category{
        display: flex;
        flex-direction: column;
}
.filter-category h4{
            padding: 0.3rem 0;
}
.filter-category .category{
            padding: 0.2rem 0;
            display: flex;
            flex-direction: column;
}
.filter-category .category li{
                list-style: none;
                text-align: left;
}
.filter-category .category input{
                
        padding: 5px;
}
.filter-category .category label{
                padding-bottom: 2px;
                font-weight: 450;
}
.filter-rating{
        display: flex;
        flex-direction: column; 
}
.filter-rating h4{
            padding: 0.3rem 0;
}
.filter-rating h4 .rating{
            padding: 0.2rem 0;
            display: flex;
            flex-direction: column;
}
.filter-rating h4 li{
                list-style: none;
}
.filter-rating h4 input{
                margin-right: 5px;
            }
.filter-rating h4 label{
                padding-bottom: 2px;
                font-weight: 450;
                }
  

.filter-sort{
        display: flex;
        flex-direction: column; 
}
.filter-sort h4{
            padding: 0.3rem 0;
        }
.filter-sort div{
            padding: 0.2rem 0;
}
.filter-sort div input{
                margin-right: 5px;
            }
.filter-sort div label{
                padding-bottom: 4px;
                font-weight: 450;
            }


.filter-clear{
        padding: 1rem 0;
}
.filter-clear.btn{
            width: 150px;
            height: 30px;
            background-color:beige;
            color:blueviolet;
            font-size: 16px;
            border: none;
            border-radius: 5px;
            letter-spacing: 2px;
        }
