


.wishlist-container {
  width: 100%;
  height: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: rgb(231, 233, 238);
  

  >.wishlist-title {
    font-size: 20px;
    text-align: center;
    padding-top: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

    >.wishlist-cards {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      
    }
  }
