.product-page-container {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(7, 7, 7);

  > .product-page-main {
    width: 70%;
    height: 80%;
    padding: 0.5rem;
    background-color: var(--bg-color-yellow);
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: var(--primary-yellow) 0px 0px 40px;

    > .main-sections {
      display: flex;
      align-items: center;
      justify-content: space-around;
      > .image-container {
        width: 270px;
        height: 320px;
        display: flex;
        justify-content: center;
        margin-top: 2rem;
        > img {
          width: 90%;
          height: 100%;
          padding: 0px 0.5rem;
          box-shadow: var(--primary-black) 10px 10px 30px;
        }
      }
      > .details-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-grow: 0.5;
        > .title {
          display: inline-block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-size: xx-large;
          font-weight: 900;
        }
        > .rating {
          width: 50px;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 5px;
          background-color: #388e3c;
          color: #fff;
          position: relative;
          padding: 13px 25px;
          margin: 10px 0px 0px;

          > h4 {
            font-size: small;
          }
          h5 {
            // font-size: medium;
            margin-top: 2px;
            margin-left: 2px;
          }
        }
        > .price-details {
          display: flex;
          align-items: center;
          height: 22px;
          margin-top: 8px;

          > .cprice > h4 {
            color: #212121;
            font-size: x-large;
          }
          > .oprice > h4 {
            font-size: large;
            padding: 0 0.75rem;
            font-weight: 400;
            color: rgb(135, 135, 135);
            text-decoration: line-through;
          }
          > .discount > h4 {
            font-size: large;
            color: #388e3c;
          }
        }
        > .few-left {
          display: flex;
          align-items: center;

          margin: 10px 0px;
          > p {
            color: rgb(199, 23, 23);
            font-size: medium;
          }
          > h5 {
            color: rgb(199, 23, 23);
            font-size: medium;
            padding-bottom: 4px;
          }
        }
        > .tag-section {
          background-color: var(--bg-color-yellow);
          display: flex;
          // flex-direction: column;
          > .tag {
            display: flex;
            align-items: center;
            margin: 1px 0px;
            background-color: var(--bg-color-yellow);
            > h5 {
              color: rgb(41, 92, 137);
              font-size: medium;
              padding-top: 4px;
            }
            > p {
              font-size: medium;
            }
          }
        }
        > .page-section {
          margin: 5px 0px;

          > h5 {
            font-size: medium;
            > span {
              color: rgb(0, 0, 0);
              font-size: medium;
            }
          }
        }
        > .highlights-section {
          font-size: medium;
          width: 100%;
          display: flex;
          flex-direction: column;
          margin: 4px 0px;
          > .highlight {
            display: flex;
            align-items: center;
            justify-content: left;
            padding: 10px 20px 1px 0px;
            > .auth {
              font-size: medium;
              font-weight: 1000;
              color: rgb(5, 5, 5);
            }
            > .cate {
              font-size: medium;
              padding-right: 12px;
              font-weight: 600;
              color: rgb(3, 3, 3);
            }
          }
        }
      }
    }
    > .buttons {
      display: flex;
      margin: 2rem;
      align-items: center;
      flex-direction: column;
      > .btn {
        padding: 0.5rem 1.5rem;
        width: auto;
        background-color: var(--primary-yellow);
    color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
        margin: 0.3rem;
        border: solid 0.1rem white;
        border-radius: 10px;
        &:hover {
          opacity: 0.8;
        }
        > span {
          padding-left: 5px;
        }
      }
      > .btn-secondary {
        cursor: pointer;
        background-color: var(--btn-green);
        color: #fff;
    border: solid 2px white;
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}

#detail-pg-cart {
  width: 15rem;
}

#detail-pg-wishlist {
  width: 15rem;
}
@media screen and (max-width: 1200px) {
  .tag-section {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 850px) {
  .product-page-container {
    width: 100%;
    height: 90%;
  }
  .product-page-container .product-page-main {
    width: 100%;
    height: 90%;
    border-radius: 0px;
  }
}
@media screen and (max-width: 600px) {
  .product-page-container .product-page-main .main-sections {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .details-container {
    padding-top: 2rem;
  }
}
