.home-container {
    /* padding: 3rem 4rem; */
    /* flex-grow: 1 */
    background-color: white;

}

.home-img-container {
    position: relative;
}

.bg-img-container {
    background-image: url('../../../public/Rectangle5.png');
    background-repeat: no-repeat;
    background-position: bottom;
    /* object-fit:cover; */
    /* aspect-ratio: 1; */
    background-size:cover;
    width: 100%;
    height: 90vh;
}



.main-text {
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content:center;
    width: 70%;
     position: absolute;
    top: 3%;
    left: 15%;
    color: white;
    z-index: 1;

}

.main-text-title {
    text-align: center;
    font-weight: var(--font-bold);
    font-size: 2rem;
    color: #FF7700;
    padding:.5rem;
    margin: .5rem;
}
.sub-text-title {
    text-align: center;
    font-weight: var(--font-bold);
    font-size: 1.5rem;
    /* line-height: .5rem; */
    color: whitesmoke;
    padding:.5rem;
    margin: .5rem;
}

.home-img-container .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    transition: .5s ease;
}

.shop-now-btn.btn {
    margin: 1rem;
    font-size: 1.rem;
    /* padding: 10px 50px 10px 50px;     */
}


/* Category Container Styles */
/* .category-container,
.category-heading .paragraph-md,
.category-row {
    margin-top: 3rem;
} */

.category-container{   
    width: 100%;
    background-color: white;
    /* height: auto; */
    padding: 0rem 2rem 2rem 2rem;

}

.category-row {
    display: flex;
    justify-content:space-evenly;
    margin: 3rem;
}
.category-title{
    font-weight: bold;
    font-size: 1.3rem;
    text-shadow: 2px 2px 5px #f7f6f6;
}
.paragraph-sm{
    font-size: 1rem;
}

.detail-box p {
    margin-top: 1rem;
}


.box {
    background-color: #cc9600;
    border-radius: 1rem;
    flex-wrap: wrap;
    padding: 2rem 1rem 0rem 1rem;
    transition: transform .2s ease, -webkit-transform .2s ease;
    cursor: pointer;
    box-shadow: black 3px 3px 20px;
    height: auto;
}

.box:hover {
    transform: scale(1.03);
   
}

.feature-img{
    margin-top: 1rem;
    border-radius: 6px;
    height: 8rem;
    width: 8rem;
    box-shadow: white 3px 3px 20px;
}

/* 

.icon-bar {
    display: flex;
    gap: 1.5rem;
    font-size: 1.5rem;
}
.footer-mn {
    background: var(--black);
    display: flex;
    padding:2rem 1rem;
    color: var(--white);
    justify-content: space-around;

}

.footer-mn-lt,
.footer-mn-rt {
    line-height: 2rem;
} */

@media screen and (max-width:780px) {

    .home-container {
        padding: 1rem;
    }

    .category-row {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .shop-now-btn {
        padding: 0.4rem 0.5rem;
        font-size: 0.7rem;
    }

    .home-page-text {
        bottom: 15%;
        left: 10%;
    }

    .main-text-title {
        font-size: 1rem;
    }
    .sub-text-title {
        font-size: .8rem;
    }

    .bg-img-container {
        height: 25rem
    }
    .category-title{
    font-weight: bold;
    font-size: 1rem;
    text-shadow: 2px 2px 5px #f7f6f6;
}
.paragraph-category-sm{
    font-size: .8rem;
}
.box{
    display: flex;
    margin: .5rem;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
}
.feature-img,.paragraph-category-sm{
    display: none;

}




}