.main{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.filter{
    width: 18%;
    display: flex;
    flex-direction: column;
}
.product-section{
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 1em;
}
.search-result{
    width: 100%;

}
.product-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}