
.empty-wishlist-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;

    >.container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    background-color: var(--bg-color-yellow);
    border-radius: 10px;

        >.wishlist-icon{
            width: 200px;
            height: 200px;
            display: flex;
            align-items: center;
            justify-content: center;
            >img{
                width: 100%;
                height: 100%;
            } 
        }
        >p{
            font-weight: 500;
            font-size: 1rem;
        }
        >button{
            margin-top: 2rem;
            padding: 0.6rem 1.5rem;
            font-size: 18px;
            border: none;
            outline: none;
            display: flex;
            justify-content: center;
            background-color: var(--primary-yellow);
            color: black;
            border-radius: 10px;
            cursor: pointer;
            >span{
                padding-left: 10px;
            }
        }
    }
}
@media screen and (max-width: 600px) {
    .empty-wishlist-container{
        >.container{
            >.wishlist-icon{
                width: 100px;
                height: 100px;
            }
            >p{
                font-size: 0.9rem;
            }
            >button{
                font-size: 16px;
            }
        }
    }
    
}